* { 
    margin:0; 
    padding:0; 
    } 
   
html, body {
    height: 100%; 
    margin: 0; padding: 0 
      }

.header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
}       

#searchField {
    position: absolute;
    top: 25%; 
    left: 36%;

    width: 20%;
    height: 40%;
    font-size: medium;
    text-align: center;
}

.nameOfSite {
    position: absolute;
    top: 22%; 
    left: 3.5%;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.nameOfSite:hover {
    text-decoration: underline;
}

#mapPageLink {
    position: absolute;
    top: 27%;
    right: 10%;
    font-size: x-large;
    font-weight: bolder;
}

#root {
    position: relative;

    width: 100%; 
    min-height: 100%;
    height: auto;
    background-color: white;

}

#filter {
    position: absolute;
    width: 18%;
    height: 350px;   
}

.staticText {
    margin-left: 10%;
    margin-bottom: 5%;

    font-size: large;
    font-weight: bold;
}

.filterElementsList li {
    margin-bottom: 2%;
    list-style-type: none; 

    font-size: large;
    font-weight: bolder;
    color: gray;
   }

.filterElementsList {
    margin-left: 24%;
    margin-top: 6%;
   }

#resultTag {
    position: absolute;
    top: 45%;
    width: auto;
    min-height: 20px;
    height: auto;
    background-color: whitesmoke;
    z-index: 1;
}

#resultText {
    padding: 3px 3px 3px 3px;
    font-size: large;
    color:black;
}

#locationList {
    position: absolute;
    top: 60%; left: 18%; 
    width: 82%; 
    height: auto;
    border: 1px solid lightgrey;   
    background-color: whitesmoke;
    margin-bottom: 5%;
}   

#noLocationsBlock {
    position: absolute;
    top: 70%; left: 50%;
    width: 10%;
    border: 1px solid lightgrey;   
    background-color: whitesmoke;
}

#noLocationsText {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.locationItem {
    width: inherit;
}

.locationName, .locationAddress, .locationLatLng, .locationType {
    margin-left: 25%;
}

.locationAddress {
    font-size: medium;
    text-decoration: none; 
    color: seagreen;
}

.locationName {
    font-weight: bolder;
    font-size: large;
    color: cornflowerblue;
    text-decoration: none;
}

.locationName:hover {
    text-decoration: underline;
}

.locationLatLng {
    font-weight: lighter;
    color: lightslategrey;
}

.locationType {
    font-weight: lighter;   
    color: rosybrown;  
}

.morePlacesTag {
    position: fixed;
    left: 89.7%; bottom: 7%;
    margin-bottom: 0.5%;

    font-size: x-large;
    font-weight: bolder;
    color: cornflowerblue;
    text-decoration: none;
}

.morePlacesTag:hover {
    text-decoration: underline;
}

#numberOfPlaces {
    position: absolute;
    left: 4%; 

    color: gray;
    font-size: large;
}

#predictionsArea {
    position: relative;

    width: 100%;
    height: auto;
    border-bottom: 1px solid lightgray;

    z-index: 1;
    display: none;
    background-color: white;  
}

.predictionItem {
    width: inherit;
}

.predictionItem :hover {
    background-color: whitesmoke;
}

.predictionDescription {
    margin-left: 36%;
    font-weight: bold;
    font-size: large;
    color: cornflowerblue;
    text-decoration: none;

}

.predictionDescription:hover {
    text-decoration: underline;
}

.footer {
    position: fixed; 
    left: 0;
    bottom: 0;  

    background: black; 
    width: 100%; 
    height: 40px;
    border-top: 1px solid lightgoldenrodyellow;
}

#githubRepositoryLink {
    position: absolute;
    bottom: 25%;
    right: 2%;
    font-size: medium;
    text-decoration: none;
    color: white;
}

#githubRepositoryLink:hover {
    text-decoration: underline;
}

#googleLogo {
    position: absolute;
    bottom: 26%;
    left: 3%; 
}

#map {
    height: 60%;
    width: 82%;
    position: absolute;
    left: 18%;
    border-left: 1px solid lightgrey;
}